<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc urna, blandit ut dolor id, sagittis feugiat nibh. Morbi eget ultrices arcu, ac vehicula augue. Mauris congue cursus varius. Donec nec ligula eu dolor elementum lobortis ac eget ex. Curabitur sollicitudin vestibulum est, at egestas magna pellentesque malesuada. Cras scelerisque et sapien non rutrum. Morbi congue dapibus gravida. Phasellus nisi nisi, efficitur vel quam et, convallis vestibulum libero. Nullam sit amet nibh mauris. Nunc sed odio ac dui ultricies laoreet quis sed urna. Sed mattis neque non luctus laoreet.
	</p>
</article>